.main{
    background-color: lawngreen;
    height: 500px;
}

.container{
    max-width: 1420px;
    margin: auto;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}